/*

You can set up a global style here that is commonly used in each stanza.

Example:

h1 {
  font-size: 24px;
}

*/
main {
  padding: 1rem 2rem;
}

.container {
  padding-left: 20px;
}

p.data-from {
  height: 65px;
  padding: 10px;
  font-size: 10px;
  background-color: #EEE;
  overflow: scroll;
  box-sizing: border-box;
}

p.data-from a {
  color: #888;
  overflow: scroll;
}

p.data-from a:hover {
  color: var(--link-hover-font-color);
}

span.recieved-value {
  color: var(--key-color);
}

h1 {
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  color: var(--h1-font-color);
  font-weight: var(--h1-font-weight);
}

h2 {
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  color: var(--h2-font-color);
  font-weight: var(--h2-font-weight);
}