/*

You can set up a global style here that is commonly used in each stanza.

Example:

h1 {
  font-size: 24px;
}

*/
main {
  padding: 1rem 2rem;
}

code {
  background-color: aliceblue;
  font-size: 12px;
}

.rect {
  cursor: pointer;
}

.data-from {
  font-size: 12px;
}

section {
  margin-left: 20px;
}