<div class="container">
  <h1>Event table stanza</h1>
  <div class="container">
    {{!-- <p class="data-from">Loading from<br><a href="{{dataUrl}}"> {{dataUrl}}</a></p> --}}
    <h2>Table</h2>
    <section>
      <table>
        <thead>
          {{#each fields as |field|}}
          <tr>
            <td>{{field.label}}</td>
            <td class="value">{{field.value}}</td>
          </tr>
          {{/each}}
        </thead>
      </table>
    </section>
  </div>
</div>