<h1>quux stanza</h1>
<div class="container">
  <p class="data-from">Loading from<br><a href="{{dataUrl}}"> {{dataUrl}}</a></p>
  <h2>Table</h2>
  <section>
    <table>
      {{#each receivedData as |data|}}
      <tr>
        <td>{{data.category}}</td>
        <td>{{data.count}}</td>
      </tr>
      {{/each}}
    </table>
  </section>
</div>