// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.
main {
  padding: 1rem 2rem;
}

.container{
  padding-left: 20px;
}

p.data-from{
  height: 65px;
  padding: 10px;
  font-size: 10px;
  background-color: #EEE;
  overflow: scroll;
  box-sizing: border-box;
}

p.data-from a {
  color: #888;
  overflow: scroll;
}

p.data-from a:hover{
  color: var(--link-hover-font-color);
}

span.recieved-value{
  color: var(--key-color);
}

h1{
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  color: var(--h1-font-color);
  font-weight: var(--h1-font-weight);
}

h2{
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  color: var(--h2-font-color);
  font-weight: var(--h2-font-weight);
}
