<h1>D3 Barchart stanza</h1>
<div class="container">
  <p class="data-from">Loading from<br><a href="{{dataUrl}}"> {{dataUrl}}</a></p>
  <section>
    <h2>bar chart</h2>
    <div id="chart"></div>
  </section>
</div>